.organick__hero {
  height: calc(100vh - 100px);
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-bg);
  background-image: url(../../assest/Background\ Patterns.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.organick__hero-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
