.organick__advert {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 4rem;
}

@media screen and (max-width: 768px) {
  .organick__advert {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
  }
}
