* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.text_italic {
  font-family: "Yellowtail";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-text-italic);
}

h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--color-header);
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--color-header);
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2;
  color: var(--color-header);
}

p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;

  color: var(--color-text);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 10px;

  background: var(--color-header);
  border-radius: 8px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;

  color: #fff;
}

@media screen and (max-width: 1024px) {
  .text_italic {
    font-size: 2rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .text_italic {
    font-size: 2rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 425px) {
  .text_italic {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.7rem;
  }
}
