@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@600;700;900&family=Yellowtail&display=swap");

:root {
  --color-bg: #f1eff0;
  --color-header: #274c5b;
  --color-text-italic: #7eb693;
  --color-text: #525c60;
}
